extends home
block issues
	.gridbox.gridmain
		ul(id="issues")
			li.postIssuePart
				form(method='POST', id="addMyOrg", action="/addmyorg")		
					.issuePart1D(style="display:inline-block;width:100%;padding-left:13px")
						div(style="float:left")
							h(style="font-weight:500;font-size:14pt") Add My Organisation							
					.main.issueBlock
						#nextBtn
							div(style="margin-left:5px")
									input(type='text' id="orgName" name="orgName" placeholder="Name of organisation" required)
									
									input(type='text' id="orgAlert" name="orgAlert" placeholder="Criteria for Joining?")
									
									textarea(id="orgAbout" name="orgAbout" placeholder="About Organisation" required )
									
									div
										input( value="Post" type="submit" name="orgSubmit" id="orgSubmit")
			if orgs
				for each in orgs	
					li.issuePart
						.issuePart1D(style="display:inline-block;width:100%;padding-left:13px")
							div(style="float:left;width:80%;")
								span(style='color:gray')  
									i.glyphicon.glyphicon-play(style="font-size:10pt")  
									a(href="/indorg/"+each._id id="linkProfile" style='font-weight:900;')  #{each.name}
								p(id="date") Member Since #{each.dateMade}

						.main.issueBlock
							#prevBtn
								#likeBtns
									i.glyphicon.glyphicon-thumbs-up(aria-hidden='true')
									p #{each.likes}
							#nextBtn
								#issueDesc #{each.aboutUs}






