extends layout
block content
	.gridcontainer
		.gridwrapper
			.gridbox.gridmenu(data-spy="affix")		
				#wrapper(class="pro_info")
					section#main(style='background-color: unset !important;top:auto !important;max-width: 40em !important;')
						div
							span.avatar 
								img(src='/uploads/'+'#{userDetails.avatarPath}', alt='', width='125px' height="125px" style="border-radius:50%;padding:10px;margin-bottom:10px!important")
							div
								a(href="/profile" style="font-size:1.2em;") #{userDetails.name} 
						
							blockquote(style="color:#369a21;padding:10px;font-size:12pt;margin-top:15px!important") #{userDetails.moto}

						div(id="myissues" style="padding:10px")
							a(href="/myorg") My Issues

						div(id="manageOrg" style="margin-bottom:15px!important;padding:10px")
							a(href="/myorg") Manage Organisations
						



			block issues
			block addmyorg
			block joinorg
			block trending
								
			.gridbox.gridright(data-spy="affix" )
				.right(style="background-color:unset!important")
	


	script.
		var issuedate = $('p#date').each(function(){
			console.log($(this).text());
			var modDate = $(this).text().substring(0,21);
			$(this).html(modDate);
		});
		
		
		//- $(window).scroll(function() {
		//-    if($(window).scrollTop() + $(window).height() > $(document).height() - 100) 
		//-    {
		//-    		 var dateLastPosted = $('p#date:last').text();
		//-    		 var dateLastPosted = Date.parse(dateLastPosted);
		//-    		 var url  = '/getIssues/'+dateLastPosted;
		//-    		 console.log(url);
		//-    		 $.get(url, function(data){
		//-    		 	//$('ul#issues').append(
		//-    		 		console.log(JSON.stringify(data));
		//-    		 	//);
		//- 	     });
		//-    }
		//- });


		//- $('#postIssueForm').submit(function postIssue (){
		//-     $.ajax({
		//-         url:'/post',
		//-         type:'post',
		//-         data:$('#postIssueForm').serialize(),
		//-         success:function(){
		//-         	console.log(data);
		//-             alert("worked");
		//-         }
		//-     });
		//- });

		
		//- var x = document.getElementsByTagName('div');
		//- console.log(x);
		//- for(i=0;i<x.length;i++){
		//- 	if(x[i].id==="issueDesc")
		//- 	{
		//- 		var myDiv = x[i];
		//- 		var full = x[i].innerHTML;
		//- 		console.log("Full : "+full);
		//- 		var less = full.substring(0,200);
		//- 		console.log("Less : "+less);
		//- 		var rest = full.substring(200);
		//- 		console.log("Rest : "+rest);
				
		//- 		var aFull = document.createElement('a');
		//- 		aFull.setAttribute("id", "fullDesc");
		//- 		aFull.innerHTML = "... Read More";
				
		//- 		x[i].innerHTML = less;
				
				
		//- 		var restDiv = document.createElement('span');
		//- 		restDiv.setAttribute("id", "extra");
		//- 		restDiv.innerHTML = rest;
		//- 		x[i].appendChild(restDiv);
		//- 		restDiv.style.display = "none";
				
		//- 		x[i].appendChild(aFull);
				
		//- 		//- $('#extra').hide();
		//- 	//- 	//- myDiv.append(aFull);
		//- 	//- 	var i=0;
		//- 	//- 	//- 
		//- }};

		
		
