extends layout
block content
	.gridcontainer
		.gridwrapper
			.gridbox.gridmenu(data-spy="affix" )		
				#wrapper(class="pro_info")
					ul(style="padding:0px")
						li(style="list-style:none;")
							p(style="font-weight:500;font-size:12pt;text-align:left") #{name}	
						li(style='list-style:none;')
							a(href="/myorg")
								p(style="font-weight:500;font-size:12pt;text-align:left") My organisations
							if adminctrlorgs
								if adminctrlorgs.length!=0
									ul(id="myOrgsList")
										| Admin Controls :
										for each in adminctrlorgs
											li#orgname(style="font-size:11pt") 
												a(href="/indorg/"+each._id) #{each.name}
							if memberctrlorgs
								if memberctrlorgs.length!=0
									ul(id="myOrgsList")
											| Membership :
											for each in memberctrlorgs
												li#orgname(style="font-size:11pt") 
													a(href="/indorg/"+each._id) #{each.name}
			block issues
			block addmyorg
			block joinorg
			block trending
								
			.gridbox.gridright(data-spy="affix" )
				.right(style="background-color:unset!important")
					#notifications(style="text-align:left!important")
						a(href="/trending" style="font-weight:500") 
							p Trending
						ul(id="trndingIssues" style="list-style:none")
								li
									p Issue Topic goes here.
								li
									p Issue Topic goes here.
								li
									p Issue Topic goes here.
								li
									p Issue Topic goes here.

					#notifications(style="text-align:left!important")
						a(href="/trending" style="font-weight:500") 
							p Trending
						ul(id="trndingIssues" style="list-style:none")
							li
								p Issue Topic goes here.
							li
								p Issue Topic goes here.
							li
								p Issue Topic goes here.
							li
								p Issue Topic goes here.

					#notifications(style="text-align:left!important")
						a(href="/trending" style="font-weight:500;font-size:12pt") 
							p Trending
						ul(id="trndingIssues" style="list-style:none;font-size:11pt")
							li
								p Issue Topic goes here.
							li
								p Issue Topic goes here.
							li
								p Issue Topic goes here.
							li
								p Issue Topic goes here.
	


	script.
		var issuedate = $('p#date').each(function(){
			console.log($(this).text());
			var modDate = $(this).text().substring(0,21);
			$(this).html(modDate);
		});

		$('button#likeBtn').click(function(e){
		    e.preventDefault();
		    $(this).find('i.fa').toggleClass('fa-thumbs-o-up fa-thumbs-up');
		    var id = $(this).parents('li.issuePart').find('a#issueTopic').attr('href');
		    console.log(id);
		    
		    id = id.substring(9);
		    console.log(id);
		    
		    var _url = "/likepost/"+id;
		    console.log(_url);
		    $.post({
			  url: _url,
			});
		});
		
		$('button#likeBtn').click(function(e){
		    e.preventDefault();
		    $(this).find('i.fa').toggleClass('fa-thumbs-o-up fa-thumbs-up');
		    var id = $(this).parents('li.issuePart').find('a#issueTopic').attr('href');
		    console.log(id);
		    
		    id = id.substring(9);
		    console.log(id);
		    
		    var _url = "/likepost/"+id;
		    console.log(_url);
		    $.post({
			  url: _url,
			});
		});
		
		
		//- $(window).scroll(function() {
		//-    if($(window).scrollTop() + $(window).height() > $(document).height() - 100) 
		//-    {
		//-    		 var dateLastPosted = $('p#date:last').text();
		//-    		 var dateLastPosted = Date.parse(dateLastPosted);
		//-    		 var url  = '/getIssues/'+dateLastPosted;
		//-    		 console.log(url);
		//-    		 $.get(url, function(data){
		//-    		 	//$('ul#issues').append(
		//-    		 		console.log(JSON.stringify(data));
		//-    		 	//);
		//- 	     });
		//-    }
		//- });


		//- $('#postIssueForm').submit(function postIssue (){
		//-     $.ajax({
		//-         url:'/post',
		//-         type:'post',
		//-         data:$('#postIssueForm').serialize(),
		//-         success:function(){
		//-         	console.log(data);
		//-             alert("worked");
		//-         }
		//-     });
		//- });

		
		//- var x = document.getElementsByTagName('div');
		//- console.log(x);
		//- for(i=0;i<x.length;i++){
		//- 	if(x[i].id==="issueDesc")
		//- 	{
		//- 		var myDiv = x[i];
		//- 		var full = x[i].innerHTML;
		//- 		console.log("Full : "+full);
		//- 		var less = full.substring(0,200);
		//- 		console.log("Less : "+less);
		//- 		var rest = full.substring(200);
		//- 		console.log("Rest : "+rest);
				
		//- 		var aFull = document.createElement('a');
		//- 		aFull.setAttribute("id", "fullDesc");
		//- 		aFull.innerHTML = "... Read More";
				
		//- 		x[i].innerHTML = less;
				
				
		//- 		var restDiv = document.createElement('span');
		//- 		restDiv.setAttribute("id", "extra");
		//- 		restDiv.innerHTML = rest;
		//- 		x[i].appendChild(restDiv);
		//- 		restDiv.style.display = "none";
				
		//- 		x[i].appendChild(aFull);
				
		//- 		//- $('#extra').hide();
		//- 	//- 	//- myDiv.append(aFull);
		//- 	//- 	var i=0;
		//- 	//- 	//- 
		//- }};

		
		
