extends org
block issues
  .gridbox.gridmain
    ul(id="issues")
      if orgDtl.members
        for each,i in orgDtl.members 
          li.issuePart(style="background-color:unset;border:none")
            .issuePart1D(style="display:inline-block;width:100%;padding-left:13px;background-color:white;box-shadow: 0 2px 4px 0 lightgray,0 2px 10px 0 #d4e8ff!important;")
              div(style="float:left;" id="reqUserDetails")
                | #{i+1}. 
                a(href="/profile/"+each.username id="linkProfile" style='font-weight:900;')  #{each.name}
      else
        div(style="text-align:center!important;padding-top:100px")
            img(src="/images/SuccessLogo.png" style="width:30%;opacity:0.7")
            br
            br
            h(style="font-weight:500; font-size:25pt; color:grey") Here appears the mebers Lists.
