extends org
block issues
  .gridbox.gridmain
    ul(id="issues")
      if(search(username, orgDtl.admin))    
        if (orgDtl.pendingRequest.length>0)
          for each,i in orgDtl.pendingRequest  
            li.issuePart(style="background-color:unset;border:none")
              .issuePart1D(style="display:inline-block;width:100%;padding-left:13px;background-color:white;box-shadow: 0 2px 4px 0 lightgray,0 2px 10px 0 #d4e8ff!important;")
                div(style="float:left;" id="reqUserDetails")
                  p #{i+1}.  
                    a(href="/profile/"+each.username id="linkProfile" style='font-weight:900;') #{each.name}

                div(style="float:right;display:inline-flex" id="choiceJoinBtn")  
                  div(style="cursor:pointer;margin-right:5px" id="choiceAcceptBtn")
                    i(class="mega-octicon octicon-issue-opened" )
                      span  Accept

                  div(style="cursor:pointer;margin-right:5px" id="choiceDeclineBtn")
                    i(class="mega-octicon octicon-issue-closed")
                      span  Decline
                  
      else
        div(style="text-align:center!important;padding-top:100px")
            img(src="/images/SuccessLogo.png" style="width:30%;opacity:0.7")
            br
            br
            h(style="font-weight:500; font-size:25pt; color:grey") Accept Pending requests
  script.
    $('.issuePart1D #choiceJoinBtn #choiceAcceptBtn').click(function(e){
        e.preventDefault();
        console.log();
        
        var acceptBtn = $(this);
        var reqUser = $(this).closest('.issuePart1D').find('#reqUserDetails p a#linkProfile');
        var reqUserUsername = $(reqUser).attr('href').substring(9);
        console.log(reqUserUsername);
        var reqUserName = $(reqUser).text();
        console.log(reqUserName);

        var data = {};
        data.orgDtl = "#{orgDtl.userId}";
        data.reqUserUsername = reqUserUsername;
        data.reqUserName = reqUserName;
        console.log(data);

      $.ajax({
        type: 'POST',
        data: JSON.stringify(data),
        url: '/acceptReq/',
        contentType: 'application/json',            
        success: function(data) {
          console.log(data);
                $(acceptBtn).closest('#choiceJoinBtn').html($('<div style="background-color:#42b72ab8;color:white;border-radius:3px;padding:5px"><i class="ionicons ion-android-done-all"></i><span> Accepted</span></div>'));
                $('#badge_pendingReq').html(parseInt($(this).html())-1);
                $('#badge_members').html(parseInt($(this).html())+1);
        }
      })
    });

    $('.issuePart1D #choiceJoinBtn #choiceDeclineBtn').click(function(e){
            e.preventDefault();
            console.log();
            
            var declineBtn = $(this);
            var reqUser = $(this).closest('.issuePart1D').find('#reqUserDetails p a#linkProfile');
            var reqUserUsername = $(reqUser).attr('href').substring(9);
            console.log(reqUserUsername);
            var reqUserName = $(reqUser).text();
            console.log(reqUserName);

            var data = {};
            data.orgDtl = "#{orgDtl.userId}";
            data.reqUserUsername = reqUserUsername;
            data.reqUserName = reqUserName;
            console.log(data);

          $.ajax({
            type: 'POST',
            data: JSON.stringify(data),
            url: '/declineReq/',
            contentType: 'application/json',            
            success: function(data) {
              console.log(data);
                    $(declineBtn).closest('#choiceJoinBtn').html($('<div style="background-color:red;opacity:0.7;color:white;border-radius:3px;padding:5px"><i class="ionicons ion-ios-trash-outline"></i><span> Declined</span></div>'));
                    $('#badge_pendingReq').html(parseInt($(this).html())-1);
                    $('#badge_members').html(parseInt($(this).html())+1);
            }
          })
        });