extends org
block issues
  .gridbox.gridmain
    ul(id="issues")
      
      li.postIssuePart(style="border-radius:3px")
        .issuePart1D(style="background-color:white;display:inline-flex;text-align:center;width:100%;padding-left:13px;border-radius:3px")
          div(style="width:100%;" id="openBtn")
            i(class="mega-octicon octicon-issue-opened" style="background-color:unset!important;color:black;font-size:14pt;")
            | #{orgDtl.pendingRequest.length}
            | Pending Requests         

      if(search(username, orgDtl.admin))    
        if (orgDtl.pendingRequest.length>0)
          for each in orgDtl.pendingRequest  
            li.issuePart(style="background-color:unset;border:none")
              .issuePart1D(style="display:inline-block;width:100%;padding-left:13px;background-color:#d4e8ff;box-shadow: 0 2px 4px 0 lightgray,0 2px 10px 0 #d4e8ff!important;")
                div(style="float:left;")
                  a(href="/profile/"+each.username id="linkProfile" style='font-weight:900;') #{each.name}
                  -var date = new Date(each.DateIntraction)
                  -function convertDate(date){ return date.getFullYear()+'-' + (date.getMonth()+1) + '-'+date.getDate();}
                  p Requested On : #{convertDate(each.DateIntraction)}

                div(style="float:right")  
                        i(class="mega-octicon octicon-issue-opened" style="margin-right:5px")
                          span  Accept

                        i(class="mega-octicon octicon-issue-closed" style="margin-left:5px")
                          span  Decline
                  
      else
        div(style="text-align:center!important;padding-top:100px")
            img(src="/images/SuccessLogo.png" style="width:30%;opacity:0.7")
            br
            br
            h(style="font-weight:500; font-size:25pt; color:grey") Accept Pending requests
  script.
      $('button#likeBtn').click(function(e){

        if( $('i#likeBtnLogo').hasClass("fa-thumbs-up") )
          { 
            $('#num_of_likes').html(parseInt($('#num_of_likes').text()[0])-1);
          }
        
        else if( $('i#likeBtnLogo').hasClass('fa-thumbs-o-up') )
          {
            $('#num_of_likes').html(parseInt($('#num_of_likes').text()[0])+1);
          }

          e.preventDefault();
          $(this).find('i.fa').toggleClass('fa-thumbs-o-up fa-thumbs-up');
          var id = $(this).parents('li.issuePart').find('a#issueTopic').attr('href');
          console.log(id);
          
          id = id.substring(9);
          console.log(id);
          
          var _url = "/likepost/"+id;
          console.log(_url);
          $.post({
          url: _url,
        });
      });