<!DOCTYPE html>
<html lang="en">

<head>
	<title>Bootstrap Example</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="./css/jquery-ui.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="./css/style.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="./assets/js/jquery.validate.js"></script>
</head>

<body>
	<div class="card">
		<div class="form-header" >
			<img src='./assets/img/logo.png' style="padding:20px" />
			<br>
			<h4 style="float:left;font-weight:1200!important">
				Sign Up
			</h4>
			<a href="./login.html" style="float:right" type="button" id="loginbtn">
				<p style="margin:10px;margin-bottom:0px!important;color:gray">Already a member? Login</p>
			</a>
		</div>
		<!-- Body-->
		<div style="margin-bottom:20px!important;height:20px">

		</div>
		<form method="POST" action="#" id="regForm" >

			<div class="form-group tab">
				<div style="display:inline-flex;width:100%">
					<input oninput="this.className = ''" style="float:left;width:50%!important;" id="fname" type="text" placeholder="First Name" name="fname" min-length='2' />
					<input oninput="this.className = ''" style="float:right;width:50%!important;" id="lname" type="text" placeholder="Last Name" name="lname" />
				</div>
				<input oninput="this.className = ''" id="cname" type="text" name="companyName" placeholder="Company" />
				<div class="ui-widget">
					<input oninput="this.className = ''" id="country" type="text" name="country" placeholder="Country" />
				</div>
				<input oninput="this.className = ''" id="phone" type="number" name="phoneNumber" placeholder="Phone" />
				<input oninput="this.className = ''" id="email" type="email" name="email" placeholder="Email Address" />
			</div>

			<div class="form-group tab" style="border-bottom: 1px;">
				<div class="ui-widget">
					<input oninput="this.className = ''" type="text" placeholder="Search your country from.." id="fromCountry" name="fromCountry" />
				</div>
				<div class="ui-widget">
					<input oninput="this.className = ''" type="text" placeholder="Search your country to.." id="toCountry" name="toCountry" />
				</div>
				<label for="">What is the mode of transportation?</label>
				<a href="#" data-toggle="popover" data-placement="top" data-content="Select mximum options available"><i class="fa fa-info-circle" aria-hidden="true" style="color:lightgray"></i></a>
				<div class="choiceLst">
					<div data-toggle="buttons" class="btn-group bizmoduleselect">
						<label class="btn " style="padding:0px;border:none">
				                                <button id="choices">
				                                    <input type="checkbox" name="var_id[]" autocomplete="off" value="" >
				                                    <i class="fa fa-anchor"></i><br />
				                                    Ocean
				                                </button>
				                            </label>
					</div>
					<div data-toggle="buttons" class="btn-group bizmoduleselect">
						<label class="btn btn-default" style="padding:0px;border:none;background-color:unset;">
				                                <button id="choices">
				                                    <input type="checkbox" name="var_id[]" autocomplete="off" value="">
				                                    <i class="fa fa-truck"></i><br />
				                                    Truck
				                                </button>
				                            </label>
					</div>
					<div data-toggle="buttons" class="btn-group bizmoduleselect">
						<label class="btn btn-default" style="padding:0px;border:none;background-color:unset;">
				                                <button id="choices">
				                                    <input type="checkbox" name="var_id[]" autocomplete="off" value="">
				                                    <i class="fa fa-plane"></i><br />
				                                    Air
				                                </button>
				                            </label>
					</div>
					<div data-toggle="buttons" class="btn-group bizmoduleselect">
						<label class="btn btn-default" style="padding:0px;border:none;background-color:unset;">
				                                <button id="choices">
				                                    <input type="checkbox" name="var_id[]" autocomplete="off" value="">
				                                    <i class="fa fa-envelope"></i><br />
				                                    Postal
				                                </button>
				                            </label>
					</div>
					<div data-toggle="buttons" class="btn-group bizmoduleselect">
						<label class="btn btn-default" style="padding:0px;border:none;background-color:unset;">
				                                <button id="choices">
				                                    <input type="checkbox" name="var_id[]" autocomplete="off" value="">
				                                    <i class="fa fa-home"></i><br />
				                                    Warehouse
				                                </button>
				                            </label>
					</div>
					<div data-toggle="buttons" class="btn-group bizmoduleselect">
						<label class="btn btn-default" style="padding:0px;border:none;background-color:unset;">
				                                <button id="choices">
				                                    <input type="checkbox" name="var_id[]" autocomplete="off" value="">
				                                    <i class="fa fa-puzzle-piece"></i><br />
				                                    Others
				                                </button>
				                            </label>
					</div>

				</div>
				<label for="shipmentsPM">Shipments Per Month</label>
				<li>
					<select class="form-control shipmentsPM">
								<option>1-100</option>
								<option>100-500</option>
								<option>500-1000</option>
								<option>1000+</option>
							</select>
				</li>
			</div>

			<div class="tab form-group">
				<input oninput="this.className = ''" type="text" id="fromIndustry" placeholder="What Industry are you in?">
				<input oninput="this.className = ''" type="text" id="pdtType" placeholder="Product Type">
				<label for="dropdown-toggle">Your Typical Shipment Weight</label>
				<small class="form-text text-muted">( In Kgs )</small>
				<select class="form-control dropdown-toggle">
										<option>0-2</option>
										<option>2-10</option>
										<option>10+</option>
						</select>
				<label for="infoAd" >How do you know about Zhenhub ?</label>
				<input oninput="this.className = ''" type="text" id="infoAd" name="infoAd" placeholder="Value">
			</div>

			<div style="overflow:hidden;width:100%;display:inline-flex;margin:5px;margin-bottom:10px;">
					<button type="button" id="prevBtn" onclick="nextPrev(-1)" style="width:6rem;padding:10px;float:right;margin:5px"><i class="fa fa-chevron-left" aria-hidden="true"></i><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
					<button type="button" id="nextBtn" onclick="nextPrev(1)" style="width:97%;padding:7px;margin:5px;margin-left:0px;margin-right:0px;font-size:20px">Next</button>
			</div>

			<!-- Circles which indicates the steps of the form: -->
			<div style="text-align:center;">
				<span class="step"></span>
				<span class="step"></span>
				<span class="step"></span>
			</div>
		</form>
</body>

<script>
	var currentTab = 0; // Current tab is set to be the first tab (0)
	showTab(0); // Display the crurrent tab

	function showTab(n) {
		// This function will display the specified tab of the form...
		console.log("Showing "+n);
		var x = document.getElementsByClassName("tab");
		console.log(n);
		console.log(x.length);
		for (i = 0; i < x.length; i++) {
			console.log(i + "\t" + x);
			if (i === n)
				x[i].style = "display:block";
			else
				x[i].style = "display:none";
		}
		if (n == 0) {
			document.getElementById("prevBtn").style.display = "none";
		} else {
			document.getElementById("prevBtn").style.display = "inline";
		}
		if (n == (x.length - 1)) {
			document.getElementById("nextBtn").innerHTML = 'Submit';
		}
		else if (n==0){
			document.getElementById("nextBtn").style.width = "97%";
		}
		else {
			document.getElementById("nextBtn").innerHTML = 'Next'
			document.getElementById("nextBtn").style.width = "29.5rem";;
		}
		//... and run a function that will display the correct step indicator:
		fixStepIndicator(n)
	}

	function nextPrev(n) {
		console.log("Executed : "+n+validateForm());
		// This function will figure out which tab to display
		var x = document.getElementsByClassName("tab");
		// Exit the function if any field in the current tab is invalid:
		if (!validateForm()) return false;

		// Hide the current tab:
		x[currentTab].style.display = "none";
		// Increase or decrease the current tab by 1:
		currentTab = currentTab + n;
		// if you have reached the end of the form...
		if (currentTab >= x.length) {
			// ... the form gets submitted:
			document.getElementById("regForm").submit();
			return false;
		}
		// Otherwise, display the correct tab:
		showTab(currentTab);
	}

	function validateForm() {
		// This function deals with validation of the form fields
		var x, y, i, valid = true;
		x = document.getElementsByClassName("tab");
		y = x[currentTab].getElementsByTagName("input");
		// A loop that checks every input field in the current tab:
		for (i = 0; i < y.length; i++) {
			// If a field is empty...
			if(y[i].type!="checkbox")
			if (y[i].value == "") {
				// add an "invalid" class to the field:
				y[i].className += " invalid";
				// and set the current valid status to false
				valid = false;
			}
		}
		// If the valid status is true, mark the step as finished and valid:
		if (valid) {
			document.getElementsByClassName("step")[currentTab].className += " finish";
		}
		return valid; // return the valid status
	}

	function fixStepIndicator(n) {
		// This function removes the "active" class of all steps...
		var i, x = document.getElementsByClassName("step");
		for (i = 0; i < x.length; i++) {
			x[i].className = x[i].className.replace(" active", "");
		}
		//... and adds the "active" class on the current step:
		x[n].className += " active";
	}

	$(document).ready(function() {
		$('button#choices').click(function() {
			$(this).toggleClass('clicked');
		});

		$('[data-toggle="popover"]').popover({
			trigger: "hover",
		});

		$(function() {
			var availableCountries = [
				"Afghanistan",
				"Albania",
				"Algeria",
				"American Samoa",
				"Andorra",
				"Angola",
				"Anguilla",
				"Antarctica",
				"Antigua and Barbuda",
				"Argentina",
				"Armenia",
				"Aruba",
				"Australia",
				"Austria",
				"Azerbaijan",
				"Bahamas",
				"Bahrain",
				"Bangladesh",
				"Barbados",
				"Belarus",
				"Belgium",
				"Belize",
				"Benin",
				"Bermuda",
				"Bhutan",
				"Bolivia",
				"Bonaire, Sint Eustatius and Saba",
				"Bosnia and Herzegovina",
				"Botswana",
				"Bouvet Island",
				"Brazil",
				"British Indian Ocean Territory",
				"Brunei Darussalam",
				"Bulgaria",
				"Burkina Faso",
				"Burundi",
				"Cambodia",
				"Cameroon",
				"Canada",
				"Cape Verde",
				"Cayman Islands",
				"Central African Republic",
				"Chad",
				"Chile",
				"China",
				"Christmas Island",
				"Cocos (Keeling) Islands",
				"Colombia",
				"Comoros",
				"Congo",
				"Congo, The Democratic Republic Of The",
				"Cook Islands",
				"Costa Rica",
				"Croatia",
				"Cuba",
				"Curaçao",
				"Cyprus",
				"Czech Republic",
				"Ivory Coast",
				"Denmark",
				"Djibouti",
				"Dominica",
				"Dominican Republic",
				"Ecuador",
				"Egypt",
				"El Salvador",
				"Equatorial Guinea",
				"Eritrea",
				"Estonia",
				"Ethiopia",
				"Falkland Islands (Malvinas)",
				"Faroe Islands",
				"Fiji",
				"Finland",
				"France",
				"French Guiana",
				"French Polynesia",
				"French Southern Territories",
				"Gabon",
				"Gambia",
				"Georgia",
				"Germany",
				"Ghana",
				"Gibraltar",
				"Greece",
				"Greenland",
				"Grenada",
				"Guadeloupe",
				"Guam",
				"Guatemala",
				"Guernsey",
				"Guinea",
				"Guinea-Bissau",
				"Guyana",
				"Haiti",
				"Heard and McDonald Islands",
				"Holy See (Vatican City State)",
				"Honduras",
				"Hong Kong",
				"Hungary",
				"Iceland",
				"India",
				"Indonesia",
				"Iran",
				"Iraq",
				"Ireland",
				"Isle of Man",
				"Israel",
				"Italy",
				"Jamaica",
				"Japan",
				"Jersey",
				"Jordan",
				"Kazakhstan",
				"Kenya",
				"Kiribati",
				"North Korea",
				"South Korea",
				"Kuwait",
				"Kyrgyzstan",
				"Laos",
				"Latvia",
				"Lebanon",
				"Lesotho",
				"Liberia",
				"Libya",
				"Liechtenstein",
				"Lithuania",
				"Luxembourg",
				"Macao",
				"Macedonia",
				"Madagascar",
				"Malawi",
				"Malaysia",
				"Maldives",
				"Mali",
				"Malta",
				"Marshall Islands",
				"Martinique",
				"Mauritania",
				"Mauritius",
				"Mayotte",
				"Mexico",
				"Micronesia",
				"Moldova",
				"Monaco",
				"Mongolia",
				"Montenegro",
				"Montserrat",
				"Morocco",
				"Mozambique",
				"Myanmar",
				"Namibia",
				"Nauru",
				"Nepal",
				"Netherlands",
				"Netherlands Antilles",
				"New Caledonia",
				"New Zealand",
				"Nicaragua",
				"Niger",
				"Nigeria",
				"Niue",
				"Norfolk Island",
				"Northern Mariana Islands",
				"Norway",
				"Oman",
				"Pakistan",
				"Palau",
				"Palestine",
				"Panama",
				"Papua New Guinea",
				"Paraguay",
				"Peru",
				"Philippines",
				"Pitcairn",
				"Poland",
				"Portugal",
				"Puerto Rico",
				"Qatar",
				"Romania",
				"Russia",
				"Rwanda",
				"Réunion",
				"Saint Barthélemy",
				"Saint Helena",
				"Saint Kitts And Nevis",
				"Saint Lucia",
				"Saint Martin",
				"Saint Pierre And Miquelon",
				"Saint Vincent And The Grenedines",
				"Samoa",
				"San Marino",
				"Sao Tome and Principe",
				"Saudi Arabia",
				"Senegal",
				"Serbia",
				"Seychelles",
				"Sierra Leone",
				"Singapore",
				"Sint Maarten",
				"Slovakia",
				"Slovenia",
				"Solomon Islands",
				"Somalia",
				"South Africa",
				"South Georgia and the South Sandwich Islands",
				"South Sudan",
				"Spain",
				"Sri Lanka",
				"Sudan",
				"Suriname",
				"Svalbard And Jan Mayen",
				"Swaziland",
				"Sweden",
				"Switzerland",
				"Syria",
				"Taiwan",
				"Tajikistan",
				"Tanzania",
				"Thailand",
				"Timor-Leste",
				"Togo",
				"Tokelau",
				"Tonga",
				"Trinidad and Tobago",
				"Tunisia",
				"Turkey",
				"Turkmenistan",
				"Turks and Caicos Islands",
				"Tuvalu",
				"Uganda",
				"Ukraine",
				"United Arab Emirates",
				"United Kingdom",
				"United States",
				"United States Minor Outlying Islands",
				"Uruguay",
				"Uzbekistan",
				"Vanuatu",
				"Venezuela",
				"Vietnam",
				"British Virgin Islands",
				"American Virgin Islands",
				"Wallis and Futuna",
				"Western Sahara",
				"Yemen",
				"Zambia",
				"Zimbabwe",
				"Åland Islands"
			];
			$("#fromCountry").autocomplete({
				source: availableCountries
			});
			$("#toCountry").autocomplete({
				source: availableCountries
			});
			$("#country").autocomplete({
				source: availableCountries
			});
		});
	});
</script>

</html>
