doctype html
html(lang='en')
  head
  title #{title} : Node Auth
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name="theme-color" content="#474b4F")
  meta(name="msapplication-navbutton-color" content="#474b4F")
  meta(name="apple-mobile-web-app-status-bar-style" content="#474b4F")
  link(rel='stylesheet' href='/stylesheets/style.css')
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  link(href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet")
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  script(type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap-transition.js")
  script(type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap-collapse.js")
  script(src='/javascripts/main.js')
  body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          if user
            div(style="display:inline-flex")
              input(type='text', placeholder='Search for organisations..' style="float:left;padding:10px !important;height:34px !important;width:250px!important;margin-top:15px!important;margin-right:0px !important;border-radius:3px !important;border-top-right-radius:0px !important;border-bottom-right-radius:0px !important")
              i.fa.fa-search(style="float:left;padding:10px !important;height:34px !important;border-radius:0px;margin-top:15px!important;margin-left:0px !important;color:grey;background-color:#e9ebeee8;opacity:1;")

          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #myNavbar.collapse.navbar-collapse
          if !user
            ul.nav.navbar-nav
              li(class = title === 'Register' ? 'active' : '')
                a(href='/users/register')
                  span.glyphicon.glyphicon-user(style="font-size:30px;color:white")
              li(class = title === 'Login' ? 'active' : '')
                a(href='/users/login')
                  span.glyphicon.glyphicon-log-in(style="font-size:30px;color:white")
          if user
          
            ul.navbar-nav.nav.navbar-right
                li
                  a(href='/')
                    span.glyphicon.glyphicon-home(style="font-size:30px;color:white")
                li
                  a(href='#')
                    span.glyphicon.glyphicon-bell(style="font-size:30px;color:white")
                li
                  a(href='#')
                    span.fa.fa-users(style="font-size:30px !important;margin:0px !important;padding:0px !important;width:30px !important;height:34px !important;opacity:1" id="network")
                li
                  a(href='/users/logout')
                    span.glyphicon.glyphicon-log-out(style="font-size:30px;color:white")
                

    .container
      block content
    
//    footer &copy; All copyright reserved
      //- br
      //- a.fa.fa-facebook(href='https://www.facebook.com/himanshueight', title='Facebook', data-toggle='tooltip', data-placement='bottom')
      //- a.fa-twitter.fa(href='https://www.linkedin.com/in/himanshu-kumar-883648118/', title='Linkedin', data-toggle='tooltip', data-placement='bottom')
      //- a.fa-google.fa(href='https://github.com/himanshukumar660', title='Github', data-toggle='tooltip', data-placement='bottom')
      //- a.fa-linkedin.fa(href='mailto:himanshukumar660@gmail.com', title='Mail', data-toggle='tooltip', data-placement='bottom')
      //- a.fa-github.fa(href='mailto:himanshukumar660@gmail.com', title='Mail', data-toggle='tooltip', data-placement='bottom')
      //-   
      //-   
