doctype html
html(lang='en')
  head
  title #{title} : Node Auth
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name="theme-color" content="#474b4F")
  meta(name="msapplication-navbutton-color" content="#474b4F")
  meta(name="apple-mobile-web-app-status-bar-style" content="#474b4F")
  link(rel='stylesheet' href='/stylesheets/style.css')
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.css')
  link(href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500" rel="stylesheet")
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  script(type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap-transition.js")
  script(type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap-collapse.js")
  script(src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js")
  script(src='/javascripts/main.js')
  
  body
    if (title==='Login'||title==='Register')
      nav.navbar.navbar-inverse
        .container-fluid
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='#') WebSiteName
          #myNavbar.collapse.navbar-collapse
            if !user
              ul.nav.navbar-nav.navbar-right
                li(class=(title == 'Register' ? 'active' : ''))
                  a(href='/users/register')
                    span.glyphicon.glyphicon-user
                    |  Sign Up
                li(class=(title == 'Login' ? 'active' : ''))
                  a(href='/users/login')
                    span.glyphicon.glyphicon-log-in
                    |  Login
            if user
              form#nav_search_form.form-inline.my-lg-0.mr-auto( action='/search', accept-charset='UTF-8', method='get')
                input.form-control(id="nav_search_input" type='search', name='q', placeholder='Search for organisations..')
              ul.nav.navbar-nav.navbar-right
                li(class=(title == 'Organisations' ? 'active' : ''))
                  a(href='#')
                    | Organisations
                li(class=(title == 'Logout' ? 'active' : ''))
                  a(href='/users/logout')
                    span.glyphicon.glyphicon-log-out
                    |  Logout        
    else
      nav.navbar.navbar-inverse(data-spy="affix" style="width:100%;z-index:10000")
        .container-fluid
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='#') WebSiteName
          #myNavbar.collapse.navbar-collapse
            if !user
              ul.nav.navbar-nav.navbar-right
                li(class=(title == 'Register' ? 'active' : ''))
                  a(href='/users/register')
                    span.glyphicon.glyphicon-user
                    |  Sign Up
                li(class=(title == 'Login' ? 'active' : ''))
                  a(href='/users/login')
                    span.glyphicon.glyphicon-log-in
                    |  Login
            if user
              form#nav_search_form.form-inline.my-lg-0.mr-auto( action='/search', accept-charset='UTF-8', method='get')
                input.form-control(id="nav_search_input" type='search', name='q', placeholder='Search for organisations..')
              ul.nav.navbar-nav.navbar-right
                li(class=(title == 'Home' ? 'active' : ''))
                  a(href='/')
                    | Home
                li(class=(title == 'Trending' ? 'active' : ''))
                  a(href='/trending')
                    | Trending
                li(class=(title == 'My Organisations' ? 'active' : ''))
                  a(href='/myorganisations')
                    | My Organisations
                li(class=(title == 'My profile' ? 'active' : ''))
                  a(href='/profile/'+user.username)
                    | My profile
                li(class=(title == 'Logout' ? 'active' : ''))
                  a(href='/users/logout')
                    span
                    |  Logout        
    div
      block content


//    footer &copy; All copyright reserved
      //- br
      //- a.fa.fa-facebook(href='https://www.facebook.com/himanshueight', title='Facebook', data-toggle='tooltip', data-placement='bottom')
      //- a.fa-twitter.fa(href='https://www.linkedin.com/in/himanshu-kumar-883648118/', title='Linkedin', data-toggle='tooltip', data-placement='bottom')
      //- a.fa-google.fa(href='https://github.com/himanshukumar660', title='Github', data-toggle='tooltip', data-placement='bottom')
      //- a.fa-linkedin.fa(href='mailto:himanshukumar660@gmail.com', title='Mail', data-toggle='tooltip', data-placement='bottom')
      //- a.fa-github.fa(href='mailto:himanshukumar660@gmail.com', title='Mail', data-toggle='tooltip', data-placement='bottom')
      //-   
      //-   
