extends home
block issues
	.gridbox.gridmain
		ul(id="issues")
			li.postIssuePart
				form(method='POST', id="addMyOrg", action="/addmyorg")		
					.issuePart1D(style="display:inline-block;width:100%;padding-left:13px")
						div(style="float:left")
							h(style="font-weight:500;font-size:14pt")
								i(class="fa fa-plus")
							|  Organisation							
					.main.issueBlock
						#nextBtn
							div(style="margin-left:5px")
									input(type='text' id="orgName" name="orgName" placeholder="Name of organisation" required)
									
									input(type='text' id="orgAlert" name="orgAlert" placeholder="Criteria for Joining?")
									
									textarea(id="orgAbout" name="orgAbout" placeholder="About Organisation" required )
									
									div(style="width:100%;text-align:center;")
										input( value="Add" type="submit" name="orgSubmit" id="orgSubmit" style="max-width:10rem;")

			if orgs
				for each in orgs
					li.issuePart
						.issuePart1D(style="display:inline-block;width:100%;padding-left:13px")
							div(style="float:left;width:80%;")
								span(style='color:gray')
									a(href="/indorg/"+each._id id="linkProfile" style='font-weight:900;')  #{each.name}
								p(id="date") #{each.dateMade}

							div(style="float:right")
									button#delete(value="Delete" style="background-color:red;color:white;border:1px solid red;border-radius:3px ")
										h  Delete
						
						.main.issueBlock
							#prevBtn
								#likeBtns
									i(class="mega-octicon octicon-organization" style="color:gray")  
									p(style="font-weight:200!important;color:black") #{each.members.length+each.admin.length}
							#nextBtn
								#issueDesc(style="border-top:none") #{each.aboutUs}

	script.
		$('button#delete').click(function(e){
		    e.preventDefault();
		    $(this).find('i.fa').toggleClass('fa-thumbs-o-up fa-thumbs-up');
		    var indorg = $(this).parents('li.issuePart').find('a#linkProfile').attr('href');
		    indorg = indorg.substring(8);
		 
		    var _url = "/delorg/"+indorg;
		    console.log(_url);
		    $.ajax({
			  url: _url,
			  cache: false,
			  method: 'GET',
			  success: function(data){
			    console.log("Post Deleted successfully");
			  }
			});
		});



