body {
	font-family: 'Quicksand' !important;
	height: auto;
	background-color: #474b4f !important;
}

.btn{
	background-color: #86C232;
	border-radius: 10em !important;
}

.form-header{
 	  background-color: #86C232;
	  color: white;
    text-align: center;
    margin-top: -50px;
    margin-bottom: 3rem;
    padding: 1rem;
    border-radius: 2px;
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
