/* Your custom styles */
html {
    position: relative;
    min-height: 100%;
   
}
body{
  font-family: 'Quicksand' !important;
  font-size: 16px !important;
  background-color: #e9ebee3d !important;
	color: black !important;
  zoom: 0.9;
}

.container{
	align: center;
}
.container-fluid {
	background-color: black !important;
	border: none !important;
  color: white !important;
}
.navbar-inverse .navbar-nav>li>
{
    color: white !important;
}
.navbar-inverse .navbar-toggle:hover {
    background-color: transparent !important;
}

.n.navbar-collapse, .navbar-inverse .navbar-form, .navbar, .navbar-toggle, .navbar-brand, .navbar-collapse .collapse .in{
    border: none !important;
		color: white !important;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: white !important;
    background-color: black !important;
    border:none !important;
}

input {
	color: black !important;
	width: 100% !important;
	border-radius: 1rem;
  border: none;
	padding: 10px 10px 10px 10px !important;
	margin: 1.4% 1.4% 1.4% 1.4% !important;
  background-color: white;
}

#moto{
  color: black !important;
	width: 97% !important;
	border-radius: 1rem;
  border: none;
	padding: 10px 10px 10px 10px !important;
	margin: 1.4% 1.4% 1.4% 1.4% !important;
  background-color: white;
}

#submit:hover{
  background-color: #369a21 !important;
}

.card{
      padding: 2rem;
      padding-bottom: 0px !important;
      padding-top: 0px !important;
      background-color: #e9ebee !important;
      border-radius: 2rem;
      width: 33rem;
      margin:20px auto;
}

.form-header {
    text-align: center;
    padding: 10px 10px 10px 10px;
}
.errors{
	list-style: none;
	padding-left: 0px;
	border-radius: 3rem;
}

footer {
	text-align: center;
	background-color: black;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: auto;
	min-height: 30px;
	padding: 1%;
	margin-top: 5% !important;
	overflow: hidden;
}

a:hover{
  text-decoration: none;
}

#submit{
  text-align: center !important;
  width: auto;
  margin: 0px auto;
}

a:hover {
    opacity: 0.8;
}

.form-control {
 background-color: #3f4448 !important; 
 border: none !important;
 color: white !important;
 font-weight: 500;
}
.form-control::placeholder{
  color: red;
}

@media (min-width: 992px)
{
  #myNavbar{
    display: flex !important;
    width: auto;
  }
}
#nav_search_form {
    -webkit-box-flex: 0.4;
    -ms-flex-positive: 0.4;
    flex-grow: 0.4;
}

.my-lg-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.mr-auto {
    margin-right: auto !important;
}
.form-inline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#issues{
  list-style:none;
  padding:10px;
  margin-left:5px;
  margin-right:10px;
  margin-bottom:5px
}

#pro_info{
  font-size: 20pt !important;
  font-weight: bold!important;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.fa-facebook {
  background: #3B5998 !important;
  color: white !important;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: white;
  color: black;
}

.main {
    background-color: unset;
    padding:15px;
    width: 100%;
    margin-bottom: 1%;
}
li.issuePart{
  border-radius: 3px;
  border:1px solid #d1d5da;
  margin: 10px;
}
.gridcontainer {
    width:100%;
    display:inline;
    height:100%;
    position:absolute;
    top:40px;
}

.gridwrapper {
    overflow: hidden;
}

.gridbox {
    margin: 1%;
    float: left;
}

.gridmenu {
    width: 20.481781376518218623481781376518%;
    overflow: scroll;
    background-color: transparent;
    height: 85%;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.gridmain {
    width: 62.57854251012145748987854251012%;
    overflow: scroll;
    float: left;
    position: absolute;
    left: 19% !important;
}


.gridright {
  width: 18.481781376518218623481781376518%;
  overflow: scroll;
  background-color: transparent;
  height: 85%;
  text-align: center;
  float: right;
  left: 79.6%;
  margin-top: 20px;
}
.right {
    background-color: #e9ebee;
    border-radius: 3px;
    padding:15px;
    width: 100%;
    margin-bottom: 1%;
}


  #myorganisation{
    display: none;
  }
  #myprofile{
    display: none;
  }
  #exploreorg{
    display: none;
  }
  .searchorgformClass {
    display: none;
  }

@media only screen and (max-width: 500px) {

  #nav_search_form{
    display: none;
  }
  #myorganisation{
    display: block;
  }
  #myprofile{
    display: block;
  }
  #exploreorg{
    display: block;
  }
   .searchorgformClass {
    display: block;
  }
  #searchorgform{
    display: none;
  }
    #linkProfile{
      font-size: 10pt !important;
    }
    a#issueTopic{
      font-size: 12pt;
    }
    button#likeBtn{
      background-color: unset;
    }

    button#commentBtn{
      background-color: unset;
    }

    #issueDesc{
      font-size: 11pt;
    }
    .gridmenu {
        display:none;
    }

    .gridright {
        display:none;
    }

    .gridmain {
        width: 100%;
        float: center;
        left: 0% !important;
    }

    .main {
        padding: 1.0121457489878542510121457489879%;
    }

    .gridbox {
        margin-right: 0;
        float: left;
    }
    .gridright {
        width: 100%;
    }

    .right {
        padding: 1.0121457489878542510121457489879%;
    }
    .addIssueForm{
      margin:70px auto !important;
    }

}

a{
  text-decoration: none !important;
}

.addIssueFormbackground{
  display: none;
  position:fixed;
  width:100%;
  z-index:2000;
  height:100%;
  overflow:hidden;
  background-color: #000c !important;
}

.addIssueForm{
  border-radius: 2rem;
  background-color: #e9ebee;
  opacity: 1!important;
  width: 42%;
  min-width: 30rem;
  padding: 20px;
  margin:60px auto;
}

#addIssue{
  position: absolute;
  z-index: 200000;
}

#issueDescriptionTopic, #orgAlert{
  padding: 10px;
  font-size: 15px;
  border-radius: 3px;
}

#issueDescriptionText, #orgAbout{
  font-size: 15px;
  margin-top: 5px; 
  height: 6em;
  width: 100%;
  max-width: 100%;
  padding: 10px;
  border-radius: 3px;
}

#issueDept, #orgName{
  border-radius: 3px;
}
textarea{
  border:none;
}
.closeAddIssueBox{
    font-size:30px;
    cursor:pointer;
}
.myFormHeader{
    color:black;
    margin:0px;
    padding:0px;
}
#postIssueForm{
  text-align:left;
}

#issueDept, #orgName, #issueDescriptionTopic, #orgAlert, #orgUserId{
  margin-left:0px !important;
  margin-right:0px !important;
}
#anonymity{
  width:15px!important;
}

#issuePost, #orgSubmit{
  background-color:#42b72a;
  border:none;
  color:white!important;
  font-size:20px;
  padding: 5px !important;
  padding-left:15px !important; 
  padding-right:15px !important; 
  border:1px solid #e8f3ff;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 #e8f3ff,0 2px 10px 0 #e8f3ff!important;
}

#issuePost:hover, #orgSubmit:hover{
  background-color: #3d9a33;
}
.postIssuePart{
    border-radius: 3px;
    border: 1px solid #d1d5da;
    margin: 10px;
    background-color: white;
    box-shadow: 0 2px 4px 0 #d4e8ff,0 2px 10px 0 #d4e8ff!important;
}
.issuePart{
  background-color:white;
}

.issuePart1D{
  background-color:#e7f3ff;
  padding:10px;
  padding-left:20px;
  border-bottom:1px solid #d4e8ff;
}

.spamBtn{
  float:right;
  background-color:unset;
  border-radius:3px;
  border-color:#d1d5da;
  color:gray;
}

#date{
font-size:10pt;
padding:0px;
margin:0px;
color:gray;
}

.issueBlock{
  display:inline-flex;
  width:100%;
  box-sizing:border-box;
}

#prevBtn{
  width:6rem;
  padding:10px;
  float:left;
  margin:5px;
  border-right:1px solid lightgray;
}

#likeBtns{
    font-size:25px;
    margin:5px;
    padding:5px;
    margin-left:0px;
}

#likeBtns p{
  padding:0px;
  margin:0px;
  font-size:10pt;
  text-align:center;
}

#nextBtn{
  float:right;
  width:100%;
  overflow:none;
}

#issueTopic{
  font-size: 20px;
  font-weight:500;
  width:100%!important;
}

#issueDesc{
  padding:10px;
  padding-left:5px; 
  font-weight: 400;
  margin:5px;
  border-top:1px solid lightgray;
}

.gridbox.gridright .right{
  background-color:white!important;
}

#notifications{
  padding:10px;
  background-color:#c4d4ea91!important;
  margin-bottom:5px;
  font-size:12px;
}

#addIssue img{
  position:fixed;
  bottom:5%;
  right:5%;
  width:64px;
  height:64px;
  cursor:pointer;
}


#likeBtns button.iconsBtnLike{
  padding: 0px;
  background-color: unset;
  border:none;
}

*:focus {
    outline: none;
}


.fa-thumbs-up{
  color: #42b72a !important;
}

a#issueTopic{
  text-decoration: none;
  color: black;
}

a#issueTopic:hover{
  opacity: 1;
}


section#main ul{
  list-style:none;
  text-align:center;
  padding:0px;
}

li#iRD{
  display: inline-block;
  padding: 0 10px;
  border-right: 1px solid #d4dbe0;
}

#commentBtn, #likeBtn{
  color:#000000;
  font-weight:500;
  font-size:12pt;
  width:50%;
  text-align:center;
  border:none;
  padding: 7px;
  transition: background-color 0.2s ease-in-out;
}

#commentBtn:hover, #likeBtn:hover{
  background-color: #e8f3ff;
}
.issueCommentPart{
  width:100%;
  border-top:1px solid lightgray;
  padding:5px;
  display:inline-flex;
}

.fa-ellipsis-h{
  padding:5px;
  color:gray;
  margin-left:2px;
}

.mega-octicon.octicon-issue-opened{
  font-size:16px;
  background-color:#42b72a;
  color:white;
  padding:5px;
  border-radius:3px;
}
.mega-octicon.octicon-issue-opened span{
  font-weight:500;
  font-family:Quicksand!important;
  font-size:13pt;

}

.mega-octicon.octicon-issue-closed {
  font-size:16px;
  background-color:red;
  color:white;
  padding:5px;
  border-radius:3px;
}
.mega-octicon.octicon-issue-closed span{
  font-weight:500;
  font-family:Quicksand!important;
  font-size:13pt;

}

a#linkProfile:hover {
  text-decoration: underline!important;
  color:#3479b7;
}

.issueBlock{
  padding:10px;
  padding-left: 5px;
}
#myComment{
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius:3px;
  width: 97.5% !important;
}
#issueDept, #orgName, #orgUserId{
  border:1px solid #e8f3ff;
}
#issueDescriptionTopic, #orgAlert{
 border:1px solid #e8f3ff; 
}
#issueDescriptionText, #orgAbout{
 border:1px solid #e8f3ff; 
}

#myOrgsList{
  list-style: none;
  text-align:left;
  padding: 0px; 
  font-size:12pt;
}

#orgname{
  font-size:10pt;
  border: 1px solid #e9ebee3d;
  transition: background-color 0.2s ease;
  padding: 5px;
  background-color: unset;
  border-radius: 2px;
  font-weight: 400;
}

#orgname:hover{
  background-color: white;
  border: 1px solid lightgray;
}

.navbar{
  margin-bottom: 0px !important;
}


/* For listing of my organisation.. Credits to w3school
/*the container must be positioned relative:*/
.custom-select {
  position: relative;
}
.custom-select select {
  display: none; /*hide original SELECT element:*/
}
.select-selected {
  background-color: #e8f3ff;
}
/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 12pt;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid black;
  border-color: black transparent transparent transparent;
}
.select-selected.select-arrow-active:after {
  border-color: transparent transparent black transparent;
  top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: black;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent;
  cursor: pointer;
}
/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #e8f3ff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover {
  background-color: #90c2f9;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////*/

#expandPost{
  cursor: pointer;
}

#expandMakeOrg{
  cursor: pointer;
}
#searchorg{
  background-color:#3f4447!important;
  color: lightgray;
}

#searchorg:hover{
  color:white;
  opacity: 1;
}
.pro_info{
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #d1d5da;
  margin:5px;
  background-color: white;
  box-shadow: 0 2px 4px 0 #d4e8ff,0 2px 10px 0 #d4e8ff!important; 
}
#manageOrg{
  transition: all 0.4s ease;
}

#manageOrg:hover{
  background-color: #e8f3ff;
}

.active{
  border-bottom: 2px solid #369a21;
}